
html{
  height:100%;
}
body{
  height: calc(100% - 1em);
  background-color:	#FCF5E5;
}
.main-flex-container {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  width:27%;
  height:35%;
  margin: auto;
  transform: translate(-50%, -50%);
  justify-content: centre;
}
.main-flex-container > textbox {
  background-color:	#FAF9F6;
  border-width: 2px;
  border-color: black;
  border-style: double;
  width: 100%;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  padding-left: 10%;
}
h4 {
  color: #000000;
  text-align: center;
  line-height: 1;
}
p {
  text-align: left;
  color:	#000000;
  font-size:21px;
  line-height: 0.4;
}
a {
  text-align: left;
  color: #000000;
  font-size:20px;
  line-height: 0.8;
}

ul {
  text-align: left;
  list-style-position: inside;
  margin-top:0;
}
